alembic
celery[redis]
fastapi
httpx
openpyxl
pandas
psycopg2-binary
pydantic-settings
PyJWT
pymorphy3
python-multipart
python-telegram-bot>=20.0
redis
setuptools
SQLAlchemy
tenacity
uvicorn[standard]
